html { 
	background: url(../images/header-back.jpg) repeat; 
}

#header {
	overflow:visible;
	border:0px;
	height:222px;
}

.mm-page {
	position: initial !important;
}

#logo {
	z-index:1000;
	-webkit-transform: translateZ(0);
	visibility:visible; 
	-webkit-transform: rotate(-15deg); 
	-moz-transform: rotate(-15deg); 
	-o-transform: rotate(-15deg); 
	transform: rotate(-15deg);
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
	-webkit-animation:hingeLogo 2.5s;
	-moz-animation:hingeLogo 2.5s;
	-ms-animation:hingeLogo 2.5s;
	-o-animation:hingeLogo 2.5s;
	animation:hingeLogo 2.5s;
}
@-webkit-keyframes hingeLogo {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in; }
	40% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(-12deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in; }
	80% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
	95% { -webkit-transform: rotate(-14deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in; }		
	100% { -webkit-transform: rotate(-15deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
}
@-moz-keyframes hingeLogo {
	0% { -webkit-transform: rotate(0); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in; }
	40% { -webkit-transform: rotate(-15deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(-12deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in; }
	80% { -webkit-transform: rotate(-15deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
	95% { -webkit-transform: rotate(-14deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in; }		
	100% { -webkit-transform: rotate(-15deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
}
@-o-keyframes hingeLogo {
	0% { -webkit-transform: rotate(0); -o-transform-origin: top right; -o-animation-timing-function: ease-in; }
	40% { -webkit-transform: rotate(-15deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(-12deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in; }
	80% { -webkit-transform: rotate(-15deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
	95% { -webkit-transform: rotate(-14deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in; }		
	100% { -webkit-transform: rotate(-15deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
}
@keyframes hingeLogo {
	0% { -webkit-transform: rotate(0); transform-origin: top right; animation-timing-function: ease-in; }
	40% { -webkit-transform: rotate(-15deg); transform-origin: top right; animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(-12deg); transform-origin: top right; animation-timing-function: ease-in; }
	80% { -webkit-transform: rotate(-15deg); transform-origin: top right; animation-timing-function: ease-in-out; }
	95% { -webkit-transform: rotate(-14deg); transform-origin: top right; animation-timing-function: ease-in; }		
	100% { -webkit-transform: rotate(-15deg); transform-origin: top right; animation-timing-function: ease-in-out; }
}


#menu-topnav-1 li:nth-child(2) { /*-- about --*/
	-webkit-transform: translateZ(0);
	visibility:visible; 
	-webkit-transform: rotate(68deg); 
	-moz-transform: rotate(68deg); 
	-o-transform: rotate(68deg); 
	transform: rotate(68deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation:hinge2nd 5s;
	-moz-animation:hinge2nd 5s;
	-ms-animation:hinge2nd 5s;
	-o-animation:hinge2nd 5s;
	animation:hinge2nd 5s;
}
@-webkit-keyframes hinge2nd {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	20% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	40% { -webkit-transform: rotate(60deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(70deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	80% { -webkit-transform: rotate(65deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }	
	100% { -webkit-transform: rotate(68deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
}
@-moz-keyframes hinge2nd {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	20% { -moz-transform: rotate(80deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	40% { -moz-transform: rotate(60deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
	60% { -moz-transform: rotate(70deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	80% { -moz-transform: rotate(65deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	100% { -moz-transform: rotate(68deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
}
@-o-keyframes hinge2nd {
	0% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	20% { -o-transform: rotate(80deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	40% { -o-transform: rotate(60deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
	60% { -o-transform: rotate(70deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	80% { -o-transform: rotate(65deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	100% { -o-transform: rotate(68deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
}
@keyframes hinge2nd {
	0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }	
	20% { transform: rotate(80deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(60deg); transform-origin: top left; animation-timing-function: ease-in-out; }
	60% { transform: rotate(70deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	80% { transform: rotate(65deg); transform-origin: top left; animation-timing-function: ease-in-out; }	
	100% { transform: rotate(68deg); transform-origin: top left; animation-timing-function: ease-in-out; }
}

#menu-topnav-1 li:nth-child(3) { /*-- portfolio --*/
	-webkit-transform: translateZ(0);
	visibility:visible; 
	-webkit-transform: rotate(6deg); 
	-moz-transform: rotate(6deg); 
	-o-transform: rotate(6deg); 
	transform: rotate(6deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	-webkit-animation:hinge3rd 1s;
	-moz-animation:hinge3rd 1s;
	-ms-animation:hinge3rd 1s;
	-o-animation:hinge3rd 1s;
	animation:hinge3rd 1s;
	
}
@-webkit-keyframes hinge3rd {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }		
	100% { -webkit-transform: rotate(6deg); -webkit-transform-origin: top left; -webkit-animation-timing-function: ease-in-out; }
}
@-moz-keyframes hinge3rd {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }	
	100% { -moz-transform: rotate(6deg); -moz-transform-origin: top left; -moz-animation-timing-function: ease-in-out; }
}
@-o-keyframes hinge3rd {
	0% { -o-transform: rotate(0); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }	
	100% { -o-transform: rotate(6deg); -o-transform-origin: top left; -o-animation-timing-function: ease-in-out; }
}
@keyframes hinge3rd {
	0% { transform: rotate(0); transform-origin: top left; animation-timing-function: ease-in-out; }		
	100% { transform: rotate(6deg); transform-origin: top left; animation-timing-function: ease-in-out; }
}

#menu-topnav-1 li:nth-child(4) { /*-- ramblings --*/
	-webkit-transform: translateZ(0);
	visibility:visible; 
	-webkit-transform: rotate(-7deg); 
	-moz-transform: rotate(-7deg); 
	-o-transform: rotate(-7deg); 
	transform: rotate(-7deg);
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
	-webkit-animation: hinge4th 1.5s;
	-moz-animation: hinge4th 1.5s;
	-o-animation: hinge4th 1.5s;
	animation: hinge4th 1.5s;
}
@-webkit-keyframes hinge4th {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }	
	100% { -webkit-transform: rotate(-7deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
}
@-moz-keyframes hinge4th {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }	
	100% { -moz-transform: rotate(-7deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
}
@-o-keyframes hinge4th {
	0% { -o-transform: rotate(0); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }		
	100% { -o-transform: rotate(-7deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
}
@keyframes hinge4th {
	0% { transform: rotate(0); transform-origin: top right; animation-timing-function: ease-in-out; }		
	100% { transform: rotate(-7deg); transform-origin: top right; animation-timing-function: ease-in-out; }
}


#menu-topnav-1 li:nth-child(5) { /*-- free-bees --*/
	-webkit-transform: translateZ(0);
	visibility:visible; 
	-webkit-transform: rotate(-78deg); 
	-moz-transform: rotate(-78deg); 
	-o-transform: rotate(-78deg); 
	transform: rotate(-78deg);
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
	-webkit-animation: hinge5th 8s;
	-moz-animation: hinge5th 8s;
	-o-animation: hinge5th 8s;
	animation: hinge5th 8s;
}
@-webkit-keyframes hinge5th {
	0% { -webkit-transform: rotate(0); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }	
	5% { -webkit-transform: rotate(0); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
	20% { -webkit-transform: rotate(-90deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }	
	40% { -webkit-transform: rotate(-70deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
	60% { -webkit-transform: rotate(-80deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }	
	80% { -webkit-transform: rotate(-75deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }	
	100% { -webkit-transform: rotate(-78deg); -webkit-transform-origin: top right; -webkit-animation-timing-function: ease-in-out; }
}
@-moz-keyframes hinge5th {
	0% { -moz-transform: rotate(0); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }	
	20% { -moz-transform: rotate(-90deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }	
	40% { -moz-transform: rotate(-70deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
	60% { -moz-transform: rotate(-80deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }	
	80% { -moz-transform: rotate(-75deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }	
	100% { -moz-transform: rotate(-78deg); -moz-transform-origin: top right; -moz-animation-timing-function: ease-in-out; }
}
@-o-keyframes hinge5th {
	0% { -o-transform: rotate(0); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }	
	20% { -o-transform: rotate(-90deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }	
	40% { -o-transform: rotate(-70deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
	60% { -o-transform: rotate(-80deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }	
	80% { -o-transform: rotate(-75deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }	
	100% { -o-transform: rotate(-78deg); -o-transform-origin: top right; -o-animation-timing-function: ease-in-out; }
}
@keyframes hinge5th {
	0% { transform: rotate(0); transform-origin: top right; animation-timing-function: ease-in-out; }	
	20% { transform: rotate(-90deg); transform-origin: top right; animation-timing-function: ease-in-out; }	
	40% { transform: rotate(-70deg); transform-origin: top right; animation-timing-function: ease-in-out; }
	60% { transform: rotate(-80deg); transform-origin: top right; animation-timing-function: ease-in-out; }	
	80% { transform: rotate(-75deg); transform-origin: top right; animation-timing-function: ease-in-out; }	
	100% { transform: rotate(-78deg); transform-origin: top right; animation-timing-function: ease-in-out; }
}

#house { 
	position:absolute; 
	bottom:30px; 
	height:170px; 
}
#animation_house { 
	position:absolute;
	-webkit-transform: translateZ(0);
	bottom:0px;
	height:170px;
	width:100%;
	-webkit-animation:house 2.2s;
	-moz-animation:house 2s;
	-ms-animation:house 2s;
	-o-animation:house 2s;
	animation:house 2s;
}
@-webkit-keyframes house {
	0% { bottom:80%; -webkit-animation-timing-function: ease-in; }	
	60% { bottom:0px; -webkit-animation-timing-function: ease-in; }	
	70% { bottom:30px; -webkit-animation-timing-function: ease-in; }	
	80% { bottom:0px; -webkit-animation-timing-function: ease-in; }
	90% { bottom:10px; -webkit-animation-timing-function: ease-in; }
	100% { bottom:0px; height:170px; -webkit-animation-timing-function: ease-in; }
}
@-moz-keyframes house {
	0% { bottom:80%; -moz-animation-timing-function: ease-in; }	
	60% { bottom:0px; -moz-animation-timing-function: ease-in; }	
	70% { bottom:30px; -moz-animation-timing-function: ease-in; }	
	80% { bottom:0px; -moz-animation-timing-function: ease-in; }
	90% { bottom:10px; -moz-animation-timing-function: ease-in; }
	100% { bottom:0px; height:170px; -moz-animation-timing-function: ease-in; }
}
@-o-keyframes house {
	0% { bottom:80%; -o-animation-timing-function: ease-in; }	
	60% { bottom:0px; -o-animation-timing-function: ease-in; }	
	70% { bottom:30px; -o-animation-timing-function: ease-in; }	
	80% { bottom:0px; -o-animation-timing-function: ease-in; }
	90% { bottom:10px; -o-animation-timing-function: ease-in; }
	100% { bottom:0px; height:170px; -o-animation-timing-function: ease-in; }
}
@keyframes house {
	0% { bottom:80%; animation-timing-function: ease-in; }	
	60% { bottom:0px; animation-timing-function: ease-in; }	
	70% { bottom:30px; animation-timing-function: ease-in; }	
	80% { bottom:0px; animation-timing-function: ease-in; }
	90% { bottom:10px; animation-timing-function: ease-in; }
	100% { bottom:0px; height:170px; animation-timing-function: ease-in; }
}

#light {
	position:absolute;
	height:84px;
	bottom:50px;
}
#animation_light { 
	position:absolute;
	-webkit-transform: translateZ(0);
	bottom:0px;
	height:84px;
	width:100%;
	-webkit-animation:lights 2.4s;
	-moz-animation:lights 2.4s;
	-ms-animation:lights 2.4s;
	-o-animation:lights 2.4s;
	animation:lights 2.4s;
}
@-webkit-keyframes lights {
	0% { bottom:80%; -webkit-animation-timing-function: ease-in; }		
	60% { bottom:0px; -webkit-animation-timing-function: ease-in; }	
	75% { bottom:20px; -webkit-animation-timing-function: ease-in; }
	90% { bottom:00px; -webkit-animation-timing-function: ease-in; }
}
@-moz-keyframes lights {
	0% { bottom:80%; -moz-animation-timing-function: ease-in; }		
	60% { bottom:0px; -moz-animation-timing-function: ease-in; }	
	75% { bottom:20px; -moz-animation-timing-function: ease-in; }
	90% { bottom:0px; -moz-animation-timing-function: ease-in; }
}
@-o-keyframes lights {
	0% { bottom:80%; -o-animation-timing-function: ease-in; }		
	60% { bottom:0px; -o-animation-timing-function: ease-in; }	
	75% { bottom:20px; -o-animation-timing-function: ease-in; }
	90% { bottom:0px; -o-animation-timing-function: ease-in; }
}
@keyframes lights {
	0% { bottom:80%; animation-timing-function: ease-in; }		
	60% { bottom:0px; animation-timing-function: ease-in; }	
	75% { bottom:20px; animation-timing-function: ease-in; }
	90% { bottom:0px; animation-timing-function: ease-in; }
}

#hill { 
	position:absolute; 
	bottom:0px; 
	height:170px; 
}
#animation_hill { 
	position:absolute;
	-webkit-transform: translateZ(0);
	bottom:0px;
	height:170px;
	width:100%;
	-webkit-animation:hill 2s;
	-moz-animation:hill 2s;
	-ms-animation:hill 2s;
	-o-animation:hill 2s;
	animation:hill 2s;
}
@-webkit-keyframes hill {
	0% { bottom:80%; -webkit-animation-timing-function: ease-in; }		
	60% { bottom:0px; -webkit-animation-timing-function: ease-in; }	
	75% { bottom:20px; -webkit-animation-timing-function: ease-in; }	
	90% { bottom:0px; -webkit-animation-timing-function: ease-in; }
}
@-moz-keyframes hill {
	0% { bottom:80%; -moz-animation-timing-function: ease-in; }		
	60% { bottom:0px; -moz-animation-timing-function: ease-in; }	
	75% { bottom:20px; -moz-animation-timing-function: ease-in; }	
	90% { bottom:0px; -moz-animation-timing-function: ease-in; }
}
@-o-keyframes hill {
	0% { bottom:80%; -o-animation-timing-function: ease-in; }		
	60% { bottom:0px; -o-animation-timing-function: ease-in; }	
	75% { bottom:20px; -o-animation-timing-function: ease-in; }	
	90% { bottom:0px; -o-animation-timing-function: ease-in; }
}
@keyframes hill {
	0% { bottom:80%; animation-timing-function: ease-in; }		
	60% { bottom:0px; animation-timing-function: ease-in; }	
	75% { bottom:20px; animation-timing-function: ease-in; }	
	90% { bottom:0px; animation-timing-function: ease-in; }
}

#dog { position:absolute; bottom:25px; margin:0 0 0 35px; display:none; }
#cat { position:absolute; bottom:25px; margin:0 0 0 185px; display:none; }


#fourOhFour {
	position:absolute;
	bottom:60px;
	z-index:1;
	width:100%;
	font-family: "Arial Narrow", Palatino, Arial, sans-serif;
	font-size: 35em;
	font-weight: normal;
	text-align:center;
	color:#fff;
	opacity:0.2;
	-webkit-animation:fourOhFour 2.5s;
	-moz-animation:fourOhFour 2.5s;
	-ms-animation:fourOhFour 2.5s;
	-o-animation:fourOhFour 2.5s;
	animation:fourOhFour 2.5s;
}
@-webkit-keyframes fourOhFour {
	0% { bottom:100%; -webkit-animation-timing-function: ease-in; }		
	60% { bottom:100%; -webkit-animation-timing-function: ease-in; }	
	80% { bottom:60px; -webkit-animation-timing-function: ease-in; }
	85% { bottom:80px; -webkit-animation-timing-function: ease-in; }	
	90% { bottom:60px; -webkit-animation-timing-function: ease-in; }
	95% { bottom:70px; -webkit-animation-timing-function: ease-in; }
	100% { bottom:60px; -webkit-animation-timing-function: ease-in; }
}
@-moz-keyframes fourOhFour {
	0% { bottom:100%; -moz-animation-timing-function: ease-in; }		
	60% { bottom:100%; -moz-animation-timing-function: ease-in; }	
	80% { bottom:60px; -moz-animation-timing-function: ease-in; }
	85% { bottom:80px; -moz-animation-timing-function: ease-in; }	
	90% { bottom:60px; -moz-animation-timing-function: ease-in; }
	95% { bottom:70px; -moz-animation-timing-function: ease-in; }
	100% { bottom:60px; -moz-animation-timing-function: ease-in; }
}
@-o-keyframes fourOhFour {
	0% { bottom:100%; -o-animation-timing-function: ease-in; }		
	60% { bottom:100%; -o-animation-timing-function: ease-in; }	
	80% { bottom:60px; -o-animation-timing-function: ease-in; }
	85% { bottom:80px; -o-animation-timing-function: ease-in; }	
	90% { bottom:60px; -o-animation-timing-function: ease-in; }
	95% { bottom:70px; -o-animation-timing-function: ease-in; }
	100% { bottom:60px; -o-animation-timing-function: ease-in; }
}
@keyframes fourOhFour {
	0% { bottom:100%; animation-timing-function: ease-in; }		
	60% { bottom:100%; animation-timing-function: ease-in; }	
	80% { bottom:60px; animation-timing-function: ease-in; }
	85% { bottom:80px; animation-timing-function: ease-in; }	
	90% { bottom:60px; animation-timing-function: ease-in; }
	95% { bottom:70px; animation-timing-function: ease-in; }
	100% { bottom:60px; animation-timing-function: ease-in; }
}


/*-- defaultStuff --*/	
#default_out, #default_out_2 {
	width:100%;
	padding:20px 0px;
	margin-bottom:5px;
	background: url(../images/bgpost.indexed.png) repeat;
	position:relative;
	z-index:501;
}
#default_out_2 {
	padding:0;
	background: rgba(37,101,91,0.4) url(../images/bgpost.indexed.png) repeat;
}
#wrap-narrow {
	max-width:950px;
	margin:0 auto;
}
#default_out_2 #wrap-narrow {
	max-width:950px;
	padding:0 20px;
	margin:auto;
}
/* make the div clear the wrap float */
#wrap-narrow:before,
#wrap-narrow:after {
    content: " ";
    display: table;
} 
#wrap-narrow:after {
    clear: both;
}
/* end */


	/* 
	 * Desktops, laptops and iPads (landscape) -----------
	 */
	@media only screen and (max-width: 1024px) {
	
		#default_intro h1 {
			font-size:70px;
			line-height:65px;
		}
		h1 em {
			font-weight:500;
			font-size:69px;
			line-height:64px;  
		}
	}
	
	
	/* 
	 * fix for Say It -----------
	 */
	@media only screen and (max-width: 875px) {
	
		#default_profile {
			padding-top:15px;
		}
		.say_it {
			display:none;
		}
	}


	/* 
	 * iPads (portrait) -----------
	 */
	@media only screen and (max-width: 768px) {
	
		h1 em {
			font-weight:500;
			font-size:55px;
			line-height:50px;  
		}
/*		#header { 
			overflow:visible; 
			height:130px;
		}
		#hill { 
			position:absolute; 
			bottom:0px; 
			height:130px; 
		}
		#house { 
			position:absolute; 
			bottom:0px; 
			height:110px; 
		}
		#dog { position:absolute; bottom:10px; margin:0 0 0 35px; }
		#cat { position:absolute; bottom:10px; margin:0 0 0 185px; }
*/		
		#default_profile {
			padding-top:0px;
		}
	}


	/* 
	 * fix for default_intro ( @ 675px 404 resize) -----------
	 */
	@media only screen and (max-width: 675px) {
	
		#fourOhFour {
			display:none;
		}
	}


	/* 
	 * fix for default_intro ( @ 635px menubar becomes dropdown) -----------
	 */
	@media only screen and (max-width: 635px) {
	
		#default_profile {
			display:none;
		}
	}


	/* 
	 * iPhones (portrait and landscape) -----------
	 */
	@media only screen and (max-width: 500px) {
			
		#cloud { display:none; }
	
		#hill { position:absolute; bottom:0px; height:130px; }	
		#house { position:absolute; bottom:0px; height:150px; }	
		#light { position:absolute; bottom:0px; height:90px; }
		#dog { position:absolute; bottom:5px; margin:0 0 0 35px; }
		#cat { position:absolute; bottom:5px; margin:0 0 0 185px; }
	
	}
