.font-skinny {
  font-family: 'Wire One', sans-serif;
}
.font-lg {
  font-family: 'League Gothic', sans-serif;
}
.font-museo {
  font-family: 'Museo', arial;
}
body {
  background: url(../images/header-back.jpg) repeat;
}
menu#logged-in {
  display: none;
}
#login {
  width: 280px;
  position: absolute;
  top: 25%;
  right: 18%;
  z-index: 10000;
  padding: 0;
}
#login h1 {
  display: none;
}
#login form p label {
  color: #25655b;
  line-height: 5px;
}
#login form p label input {
  width: 260px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  padding: 8px 10px;
}
#login form p label input:focus {
  background-color: #fff;
}
#login form p.submit input {
  background: #ab0804 !important;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 10px;
  height: 36px;
  font-size: 15px;
  line-height: 15px;
  padding: 9px 15px;
  border: 1px solid #3d5a5a;
}
#login p.message {
  display: none;
}
#login p#nav a {
  position: absolute;
  margin-top: 13px;
  margin-left: 5px;
  display: block;
}
#login p#backtoblog {
  display: none !important;
}
#login p.forgetmenot {
  display: none;
}
#header {
  border: 0px;
  height: 140px;
  background: transparent;
}
#cloud {
  position: absolute;
  bottom: 80px;
  height: 170px;
}
#hill {
  position: absolute;
  bottom: 0px;
  height: 170px;
}
#light {
  position: absolute;
  bottom: 50px;
}
#house {
  position: absolute;
  bottom: 30px;
  height: 170px;
}
#city {
  position: absolute;
  bottom: 30px;
  height: 170px;
}
#dog {
  position: absolute;
  bottom: 25px;
  margin: 0 0 0 35px;
}
#cat {
  position: absolute;
  bottom: 25px;
  margin: 0 0 0 185px;
}
#footer {
  display: none;
}
/* 
	 * Desktops, laptops and iPads (landscape) -----------
	 */
@media only screen and (max-width: 1024px) {
  #default_intro h1 {
    font-size: 70px;
    line-height: 65px;
  }
  h1 em {
    font-weight: 500;
    font-size: 69px;
    line-height: 64px;
  }
}
/* 
	 * fix for Say It -----------
	 */
@media only screen and (max-width: 875px) {
  #default_profile {
    padding-top: 15px;
  }
  .say_it {
    display: none;
  }
}
/* 
	 * iPads (portrait) -----------
	 */
@media only screen and (max-width: 768px) {
  h1 em {
    font-weight: 500;
    font-size: 55px;
    line-height: 50px;
  }
  #default_profile {
    padding-top: 0px;
  }
  #mmenu {
    display: none !important;
  }
  a.mmenu {
    display: none;
  }
}
/* 
	 * fix for default_intro ( @ 635px menubar becomes dropdown) -----------
	 */
@media only screen and (max-width: 635px) {
  #default_profile {
    display: none;
  }
}
/* 
	 * iPhones (portrait and landscape) -----------
	 */
@media only screen and (max-width: 500px) {
  #cloud {
    display: none;
  }
  #hill {
    bottom: 0px;
    height: 130px;
  }
  #light {
    display: none;
  }
  #house {
    bottom: 0px;
    height: 130px;
  }
  #dog {
    bottom: 5px;
    margin: 0 0 0 35px;
  }
  #cat {
    bottom: 5px;
    margin: 0 0 0 185px;
  }
}
